
 
{% extends 'base.html' %}


{% block content %}



<div align="center">
 


    <h3 style="color:#1c2331">Steps<a href="#">          <i class="fa fa-step-forward" style="color:#09c" ></i></a></h3>
    <table id="myTable">

    
      <tr>
        <td>
         
          <input class="inputs" id="1" onkeydown="runScript(event)" />
         
        
        </td>
        <td style="display:none" id="spin1"><div  class="spinner-grow text-info"></div></td>
      </tr>
    </table>

  




</div>
{% endblock %}



<script>



</script>